.calendar-container {
  width: 90vw;
  height: 90vh;
  background-color: #fff;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

.calendar-container > div {
  border: 1px solid coral;
  display: flex;
  justify-content: center;
  align-items: center;
}