#calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calendar .calendar-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar button {
  width: 5vw;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#calendar button:focus {
  outline: none;
}

.calendar-container {
  width: 90vw;
  height: 90vh;
  background-color: #fff;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

.calendar-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-container .calendar-today {
  font-size: 30px;
  color: darkorange;
}