#calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calendar .calendar-label-wrapper {
  height: 10vh;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-label-wrapper div {
  width: 50vw;
  text-align: center;
}

#calendar button {
  width: 5vw;
  color: #000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#calendar button:focus {
  outline: none;
}

.calendar-container {
  width: 90vw;
  height: 80vh;
  background-color: #fff;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
}

.calendar-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-dots-wrapper {
  width: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 30px;
}

.calendar-today .calendar-dots-wrapper {
  margin-top: 60px;
}

.calendar-tooltip {
  color: #000;
  background-color: whitesmoke;
  font-size: 1rem;
  display: none;
  position: absolute;
  padding: 10px;
  top: 10px;
  width: 20vw;
  z-index: 999;
  word-break: break-all;
}

.calendar-tooltip > div::before {
  content: "+ "
}

.calendar-container > div:hover .calendar-tooltip {
  display: block;
}

.calendar-dots {
  width: 4px;
  height: 4px;
  background-color: #f00;
  margin: 1px;
}

.calendar-container .calendar-today {
  font-size: 3rem;
  color: darkorange;
}