.paginated {
  width: 100%;
  height: 100vh;
}

.pagination-curtain {
  width: 100vw;
  height: 100vh;
  background-color: darkorange;
  transform: translateX(0px);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
}

.pagination-hidden {
  transform: translateX(-100vw);
}