#todo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 90vw;
  height: 90vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(100px, auto));
  overflow-y: scroll;
  scrollbar-color: transparent;
}

.todo-container::-webkit-scrollbar {
  display: none;
}

.todo-add-button {
  width: 30px;
  height: 30px;
  color: #bbb;
  font-weight: 900;
  border: 3px solid #bbb;
  border-radius: 50%;
  background-color: transparent;
  position: fixed;
  top: 5vh;
  right: 5vw;
  cursor: pointer;
}

.todo-add-button:focus {
  outline: none;
}

.todo-container > .todo-empty {
  width: 100%;
  height: 100%;
}

.todo-empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper {
  padding: 20px;
}

.todo-wrapper button {
  width: 10px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin-right: 3px;
  margin-bottom: 8px;
}

.todo-wrapper button:focus {
  outline: none;
}

.todo-wrapper .todo-delete {
  background-color: rgb(238, 108, 97);
}

.todo-wrapper .todo-update {
  background-color: rgb(247, 193, 81);
}

.todo-due {
  font-size: 12px;
}

.todo-item {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.todo-content {
  font-size: 1rem;
}

@media (max-width: 900px) {
  .todo-container {
    display: flex;
    flex-direction: column;
  }
}