#todo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 90vw;
  height: 90vh;
  background-color: #fff;
  display: grid;
  overflow-y: scroll;
  scrollbar-color: transparent;
}

.todo-container::-webkit-scrollbar {
  display: none;
}

.todo-wrapper {
  width: 100%;
  height: 400px;
  text-align: center;
}