@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

html,
body {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  scrollbar-color: transparent;
}

body::-webkit-scrollbar {
  display: none;
}